body {
    padding: 0;
    margin: 0;
}

li{
    cursor: pointer;
    width: 12vh;
}

.container{
    display: flex;
}

#home,#contact,#info,#guide{
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: rgb(205 201 196);
    width: 17vw;
    height: 100vh;
}
ul {
    padding: 6vw;
    margin: 0vw;
}

/* screen content */

.items{
    width: 95vw;
    height: 100vh;
    background-color: #595756;
}

.home:hover {
    background-color: #8f8c89;
}

.home {
    padding-top: 1vh;
    margin-bottom: 7vh;
    width: 7vw;
    height: 4vh;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 19px;
    color: #000000;
    font-weight: 700;
}

.contact:hover {
    background-color: #8f8c89;
}

.contact {
    padding-top: 1vh;
    margin-bottom: 7vh;
    width: 8vw;
    height: 4vh;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 19px;
    color: #000000;
    font-weight: 700;
}

.info:hover {
    background-color: #8f8c89;
}

.info {
    padding-top: 1vh;
    margin-bottom: 7vh;
    width: 10vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 19px;
    color: #000000;
    font-weight: 700;

}

.guide:hover {
    background-color: #8f8c89;
}

.guide {
    padding-top: 1vh;
    margin-bottom: 7vh;
    width: 5vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 19px;
    color: #000000;
    font-weight: 700;
}

/* default content */

.defaultHead {
    position: absolute;
    width: 46vw;
    top: 15vw;
    height: 45vh;
    left: 42vw;
}

.defaultHeading {
    font-size: 250%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

/* home */
.homeHead {
    position: absolute;
    width: 46vw;
    top: 15vw;
    height: 45vh;
    left: 42vw;
}

.homeHeading {
    font-size: 250%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

.homeButton {
    font-weight: bolder;
    font-size: 16px; 
    line-height: 16px; 
    padding: 19px; 
    border-radius: 30px;
}

/* contact */
.contactHead {
    position: absolute;
    top: 2vw;
    left: 28vw
}

.contactHeading {
    font-size: 300%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    font-weight: 700;
    text-transform: capitalize;
}

.homeSubHeading {
    font-size: 97%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}
.ContactForm {
    position: absolute;
    top: 14vw;
    width: 56vw;
    left: 28vw;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}
.form4 {
    width: 37vw;
    height: 15vh;
}
#subject {
    width: 34vw;
    height: 16vh;
    background-color: rgb(205 201 196);
}

#fname {
    width: 22vw;
    height: 6vh;
    background-color: rgb(205 201 196);
}
#lname {
    width: 23vw;
    height: 6vh;
    background-color: rgb(205 201 196);
}
#country {
    width: 26vw;
    height: 6vh;
    background-color: rgb(205 201 196);
}
.submitForm {
    padding-top: 2vw;
}

.submitButton {
    font-weight: bolder;
    font-size: 21px;
    line-height: 16px;
    padding: 11px;
    border-radius: 14px;
}
label {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: x-large;
    color: white;
}

/* information and guide */
.information{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin: 9vw;
    width: 57vw;
    height: 70vh;
}
.infoHead {
    font-size: 300%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    font-weight: 700;
    text-transform: capitalize;
}
.info1 {
    font-size: 173%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    text-transform: capitalize;
}
.info2 {
    font-size: 173%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    text-transform: capitalize;
}
.info3 {
    font-size: 173%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    text-transform: capitalize;
}
.info4 {
    font-size: 173%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    text-transform: capitalize;
}
.info5 {
    font-size: 173%;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -0.2px;
    word-spacing: 6px;
    text-transform: capitalize;
}